<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
<h1>게시글 조회</h1>
    <div th:object="${postDto}">
        <div>
            <span>번호</span>
            <span th:text="*{postId}"></span>
        </div>
        <div>
            <span>제목</span>
            <input type="text" th:value="*{title}" readonly>
        </div>
        <div>
            <span>내용</span>
            <textarea cols="30" rows="10" th:text="*{content}" readonly></textarea>
        </div>
    </div>
    <button th:onclick="|location.href='@{/posts/list}'|">목록</button>
    <button th:onclick="|location.href='@{/posts/{postId}/update(postId=${postDto.postId})}'|">수정</button>
</body>
</html>